<header>   
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Cервис отправки email рассылок</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="{% url 'layouts_subscribers' %}">Макеты и подписчики</a>
            <a class="p-2 text-white" href="{% url 'add_layout' %}">Добавить макет</a>
            <a class="p-2 text-white" href="{% url 'add_subscriber' %}">Добавить подписчика</a>
        </nav>
    </nav>
</header>   